/*header h1 { display: flex; justify-content: center;color:white;background-color: black;margin: 10px 40%;}
#menu{display:flex ; justify-content: space-around;}
.subMenu1 { display: none;}
#item1:hover .subMenu1 {display: block;}
#item1{color:white;background-color: black;transition: 4s;}
.subMenu1 a {color:white;}
.subMenu2 a {color: white;}
#item2:hover .subMenu2 {display: block;}
.subMenu2{ display: none;}
#item2 {color:white;background-color: black;transition: 4s;}
header{background-color: rgb(4, 149, 245); padding: 30px;}
#item1:hover { background-color: red;}
#item2:hover{ background-color: red;}*/
header h1 { display: flex; justify-content: center;color:white;background-color: black;margin: 20px 0;}
#menu{display:flex ; flex-direction: column;}
.subMenu1 { display: none;}
#item1:hover .subMenu1 {display: block;}
#item1{color:white;background-color: black;transition: 4s;margin-bottom: 10px;}
.subMenu1 a {color:white;}
.subMenu2 a {color: white;}
#item2:hover .subMenu2 {display: block;}
.subMenu2{ display: none;}
#item2 {color:white;background-color: black;transition: 4s;}
header{background-color: rgb(4, 149, 245); padding: 30px;}
#item1:hover { background-color: red;}
#item2:hover{ background-color: red;}
nav{margin: 0 20px;}
img{position:absolute;visibility: hidden;}
@media screen and (min-width:450px){#menu{flex-direction: row; justify-content: space-around;}
img{visibility: visible;position: relative; width: 100px; height: 100px;}
.bici{display:flex;justify-content: space-around;}
.rango{display: flex;flex-direction:row;}
#wrapper{margin: 0 25%;}
header h1{margin: 30px 30%;}
h3 {background-color: blue;}
#item1{margin-bottom: 0;}
}
